<!DOCTYPE html
    PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<html>

<head>
    <title>Infinite MLM Software</title>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap'
        rel='stylesheet'>
</head>

<body>
    <div
        style='font-family:Roboto,sans-serif;font-size:.8rem;font-weight:500;color:#333;width:100%;margin:0 auto;border-radius:4px;padding:10px'>
        <style type='text/css'>
            @media only screen and (max-device-width:767px) {
                .image1 {
                    display: none
                }

                .brdN {
                    border-bottom: 0 !important
                }

                h1 {
                    font-size: 2.3rem !important
                }
            }
        </style>
        <table style='max-width:680px;margin:20px auto'>
            <tbody>
                <tr>
                    <td style='border-bottom:1px solid #d6d6d6;padding-bottom:15px'><img
                            src='https://ci4.googleusercontent.com/proxy/dYAFqYTLmZvNORKMpiIzwT9kitfv8p6BIzCaDZidLA4a1B3KF1rEW7UW-mdgpI66TQl293EjyDCtOXdSkUIDLCEOsTfrfXKWpSHmhzdWq2k6L5yJWsUm2g=s0-d-e1-ft#https://infinitemlmsoftware.com/wp-content/uploads/2019/08/logo-1.png'
                            style='width:auto;height:auto;max-width:120px;max-height:60px;float:left;margin-bottom:0'
                            class='CToWUd'></td>
                </tr>
                <tr>
                    <td>
                        <div style='background:0 0;padding:25px 5px 5px 0'>
                            <h5 style='color:#444;font-size:15px;font-weight:500;margin-bottom:-5px'>Dear
                                {{ fullname }},
                            </h5>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style='text-align:left'>
                        <div style='padding:5px 0 10px 0;display:inline-block;width:100%'>
                            <h2 style='font-size:1.8rem;line-height:30px;font-weight:600;margin-bottom:0;color:#444'>
                                Verify Your Email Account</h2>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3 style='font-size:1.2rem;line-height:1;font-weight:400;color:#444'>Below is your one time
                            passcode</h3>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div
                            style='font-size:1.25rem;line-height:1;font-weight:400;color:#444;border:1px solid #ccc;padding:12px 20px;border-radius:3px;display:inline-block;letter-spacing:.4rem'>
                            {{ otp }} </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div
                            style='border-top:1px solid #d6d6d6;padding-top:2px;margin-top:3.2rem;font-weight:400;font-size:.8rem;padding-bottom:10px'>
                            <p>We're here to help if you need it. Call us at : <span style='font-weight:500'>+91 9562 94
                                    1055</span> or Email at : <span style='font-weight:500'>support@ioss.in</span></p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>